.open-btn {
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px 10px;
    background-color: rgb(9, 146, 9);
    border-radius: 10px;
    color: #fff;
}

.close-btn {
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px 10px;
    background-color: red;
    border-radius: 10px;
    color: #fff;

}

.back-btn {
    margin-left: 10px;
    margin-top: 10px;
    background-color: rgb(33, 33, 190);
    color: #fff;
    border-radius: 12px;
    padding: 10px 5px;
}