.card11 {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
    padding-bottom: 4em;
    border-radius: 12px; */

    width: 340px;
    height: 480px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.card_main_div {
    margin-left: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
    padding-bottom: 4em;
    border-radius: 12px;


}

.nurse_class_title {
    margin-top: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.nurse_class_title h1 {
    font-size: 60px;
}

.search-filter {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 150px;
    margin-bottom: 30px;
    align-items: center;
    padding-top: 20px;
}

.search_input {
    margin-bottom: 20px;
    width: 300px;
    height: 30px;
    display: flex;
    align-items: center;


}

.input-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    gap: 30px;
}

.slider-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    justify-content: center;
}

.card-nurse-img {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 300px;
    height: 300px;

}

.card_button11 {
    background-color: blue;
    padding: 8px 20px;
    margin-bottom: 5px;
    border-radius: 12px;
    color: aliceblue;
}