.main-profile {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 150px;
    margin-bottom: 40px;
}


.profile-title {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    justify-content: center;
    font-size: 50px;
}

.profile-images {
    width: 570px;
    height: 590px;
    margin-left: 30px;

}

.main-photo {}

.profile-description {
    margin-left: 50px;
    display: flex;
    align-items: space-between;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.profile-name {
    font-size: 20px;
}

.profile-email {
    font-size: 20px;


}

.profile-phone {
    font-size: 20px;

}

.profile-skill {

    font-size: 20px;

}


.profile-brithdate {
    font-size: 20px;

}

.profile-address {
    font-size: 20px;

}

.profile-country {
    font-size: 20px;

}

.profile-address {
    font-size: 20px;

}

.profile-education {
    font-size: 20px;

}


.profile-datereserve {
    font-size: 20px;

}

.profile-btn {
    background-color: red;
    border-radius: 12px;
    padding: 10px 25px;
}

.profile-comments {}