footer {
    background-color: rgb(167, 168, 180);
    margin-bottom: 0px;
}

.footer_title11 {
    font-size: 26px;
    padding-top: 10px;
    margin-bottom: 20px;
}

.socialmedias11 {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}


.icons11 {


    font-size: 40px;
    gap: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.coppyright {
    align-items: center;
    margin-left: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;

}

.coppyright_title {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: space-evenly;
    background-color: rgb(128, 128, 175);
    margin-bottom: 0px;
}

.contact11 {
    display: flex;
    flex-direction: row;
}

li {
    cursor: pointer;
}

.tilte-fotter {
    font-size: 25px;
}

.t2 {
    display: flex;
    flex-direction: row;
}