body {
    background-color: aqua;
}

.cards {
    position: absolute;
    top: 14%;
    left: 30%;
    border-radius: 18px;
    padding: 5px;
}

button {
    justify-content: center;
}

.choose {
    margin-left: 5px;
}

.choose1 {
    margin-top: 10px;

    gap: 20px;
    display: flex;
    flex-direction: row;
}

.submit_btn {
    margin-top: 15px;
    margin-left: 100px;
    justify-content: center;
    width: 200px;
    height: 50px;
    align-items: center;
}